.divFils {
  border: 2px solid hotpink;
  padding: 20px;
  width: 600px;
  margin-top: 20px;
}
.inputFils {
  width: 260px;
  height: 28px;
  margin-right: 10px;
}
.btn {
  height: 32px;
  padding: 0 10px;
}